* {
  font-family: "Poppins";
}

.header {
  height: 10vh;
  background-color: #fff6f2;
}


a.navTitle {
  color: #fa7436;
  font-family: "Fredoka One";
  margin-bottom: 5vh;
  font-size: 2rem;
  position: relative;
  left: 4vw;
  text-decoration-line: none;
}

a.text-home {
  position: relative;
  left: 8vw;
  bottom: 0.8vh;
  margin-right: 2vw;
  text-decoration-line: none;
  color: rgb(0, 0, 0);
}

a.text-event {
  position: relative;
  left: 8vw;
  margin-right: 2vw;
  bottom: 0.8vh;
  text-decoration-line: none;
  color: rgb(0, 0, 0);
}

a.text-tentang {
  position: relative;
  left: 8vw;
  bottom: 1vh;
  text-decoration-line: none;
  color: rgb(0, 0, 0);
}

#profile {
  position: relative;
  left: 64vw;
  bottom: 3.5vh;
}
