.form-content-left{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #5A6371;
    background-color:#ffffff;
    margin: 0;
}

#logo{
    margin-bottom: 10px;
}

.form{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.form-group{
    width: 60%;
    margin: 0 auto;
}

.form-input{
    background-color: #F4F4F5;
}

.form-inputs{
    margin: 15px 0;
    text-align: left;
}

#logo{
    font-family: 'Fredoka One', cursive;
    color: #FA7436;
    font-weight: 00;
}

#signup{
    width: 100%;
    background-color: #FA7436;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin: 15px 0;
}

.form-input-login{
    text-decoration: none;
    color: #FA7436;
    font-weight: 600;
}

.pic{
    width: 100%;
    max-width: 50%;
    text-align: center;
    background-color: #FFF6F2;
}

#people{
    width: 60%;
}



@media only screen and (max-width : 768px) {
    .form{
        max-width: 100%;
        font-size: 12px;
    }  

    .pic{
        display: none;
    }

    
}



