.header {
    height: 600px;
    background-color: #FFF6F2;
}

.line {
    border-left: 2px solid black;
    height: 20px;
    margin-top: 12px;
}

.spaceNavbar {
    width: 600px;
}

.dropdown-menu li a:hover {
    background-color: #FA7436;
}

.containerRight {
    margin-left: 80px;
    margin-top: 60px;
    width: 400px;
}

.containerLeft {
    margin-left: 80px;
    margin-top: 130px;
    width: 400px;
}

.buttonContainer {
    margin-left: 80px;
    margin-top: 20px;
    padding: 10px;
    box-sizing: content-box;
    color: white;
    border-radius: 10%;
    display: block;
    border: none;
    background-color: #FA7436;
}

@media only screen and (max-width : 480px) {
    .containerRight {
        margin-left: 80px;
        margin-top: 60px;
        width: 50%;
    }

    .containerLeft {
        margin-left: 80px;
        margin-top: 130px;
        width: 50%;
    }
}