* {
    font-family: "Poppins";
  }
  body {
    max-width: 95rem;
    height: 100vh;
  }
  #loginKanan {
    background-color: #fff6f2;
    height: 100vh;
  }
  h1.title {
    color: #fa7436;
    font-family: "Fredoka One";
    margin-bottom: 5vh;
  }
  #loginButton {
    background-color: #fa7436;
    border: none;
    border-radius: 5px;
    width: 24.5vw;
    height: 4.7vh;
    margin-bottom: 2vh;
  }
  form {
    position: relative;
    left: 15vw;
    top: 20vh;
  }
  .lupaPassword {
    position: absolute;
    left: 15.5vw;
    bottom: 11.5vh;
    text-decoration-line: none;
    color: black;
  }
  p.login {
    position: relative;
    left: 7vh;
  }
  img.login {
    padding: 50vh;
  }
  a.daftar {
    text-decoration-line: none;
    color: #fa7436;
    margin-left: 0.3vw;
  }
  p.atau {
    position: relative;
    left: 10.7vw;
  }
  
  img.facebook,
  img.google {
    position: relative;
    bottom: 0.3vh;
    margin-right: 0.4vw;
  }
  
  .daftar:hover,
  .lupaPassword:hover {
    color: #dd6229;
  }
  
  #loginButton:hover {
    background-color: #fa7436;
    color: white;
  }
  
  #imgCover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  
  